@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --primary-color: #5c48ee;
    --primary-color-dark: #0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}

body {
    font-family: "Kode Mono", monospace;
}